.article_list {
  .inner {
    position: relative;
    h2 {
      font-size: 20px;
      font-family: $font-mincho;
      color: $color-key;
      padding: 0 0 20px;
    }
    ul {
      &.disp_thumb {
        display: block;
        > li {
          width: 100%;
          padding: 0;
          margin: 0 0 30px;
          box-sizing: border-box;
          > a {
            display: block;
            .list_inner {
              //box-shadow: 0 1px 1px rgba(0,0,0,.2);
              iframe {
                width: 100%;
                height: 100%;
              }
              .head {
                position: relative;
                background-position: center;
                background-size: cover;
                height: 200px;
                .date {
                  display: inline;
                  background: $color-base-green;
                  padding: 3px 4px;
                  font-size: 12px;
                  font-weight: bold;
                  line-height: 18px;
                  letter-spacing: .18em;
                  color: $color-base-white;
                }
              }
              .desc {
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                flex-direction: column;
                padding: 10px;
                .title {
                  background: $color-base-white;
                  padding: 10px;
                  min-height: 94px;
                  display: flex;
                  align-items: center;
                  h4 {
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: .20em;
                  }
                }
                .content {
                  background: $color-base-white;
                  margin: 10px 0 0;
                  padding: 10px;
                  p {
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: .18em;
                  }
                }
              }
            }
          }
        }
      }
      &.disp_list {
        > li {
          background: $color-base-gray;
          margin: 0 0 10px;
          padding: 2px 20px 10px;
          > a {
            .list_inner {
              display: inline;
              .head {
                background-image: none!important;
                display: inline;
                .date {
                  display: inline;
                  padding: 0 10px 0 0;
                }
              }
              .desc {
                display: inline;
                .title {
                  display: inline;
                  padding: 0 10px 0 0;
                  h4 {
                    display: inline;
                    font-size: 16px;
                    letter-spacing: .22em;
                    line-height: 24px;
                  }
                }
                .content {
                  display: none;
                }
              }
            }
            &:hover {
              color: $color-base-white;
            }
          }
          > ol {
            display: inline;
            text-align: right;
          }
        }
      }
      .tags {
        margin: 5px 0 0;
        ul {
          &.tag_title {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          &.tag_yop {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          &.tag_artist {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
              a {
                position: relative;
                padding: 0 0 0 7px;
                &:before {
                  position: absolute;
                  content: '';
                  width: 1px;
                  height: 70%;
                  top: 50%;
                  left: 3px;
                  background: $color-key;
                  transform: translateY(-50%);
                }
              }
              &:first-child {
                a {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
          &.tag_performer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            li {
              a {
                position: relative;
                padding: 0 0 0 7px;
                &:before {
                  position: absolute;
                  content: '';
                  width: 1px;
                  height: 70%;
                  top: 50%;
                  left: 3px;
                  background: $color-key;
                  transform: translateY(-50%);
                }
              }
              &:first-child {
                a {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
          &.tag_record {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          li {
            display: flex;
            a {
              font-size: 11px;
              color: $color-key;
              text-decoration: none;
              text-align: right;
              &:hover {
                color: $color-active;
              }
            }
          }
        }
      }
    }
  }
}

@include min-screen($breakpoint-sm) {
  .article_list {
    .inner {
      ul {
        &.disp_thumb {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-wrap: wrap;
          > li {
            width: calc(100% / 3);
            padding: 0 0 0 20px;
            margin: 0 0 60px;
            &:nth-child(3n-2) {
              padding: 0;
            }
            > a {
              position: relative;
              &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
              }
              .list_inner {
                //.head {
                //  height: 200px;
                //  .date {
                //    padding: 6px 8px;
                //    font-size: 14px;
                //    line-height: 21px;
                //    letter-spacing: .22em;
                //  }
                //}
                //.desc {
                //  padding: 10px;
                //  .title {
                //    padding: 10px;
                //    min-height: 94px;
                //    h4 {
                //      font-size: 16px;
                //      line-height: 24px;
                //      letter-spacing: .22em;
                //    }
                //  }
                //  .content {
                //    margin: 10px 0 0;
                //    padding: 10px;
                //    p {
                //      font-size: 14px;
                //      line-height: 21px;
                //      letter-spacing: .22em;
                //    }
                //  }
                //}
              }
            }
          }
        }
        &.disp_list {
          > li {
            margin: 0 0 10px;
            padding: 2px 20px 10px;
            > a {
              .list_inner {
                .head {
                  .date {
                    padding: 0 10px 0 0;
                  }
                }
                .desc {
                  .title {
                    padding: 0 10px 0 0;
                    h4 {
                      font-size: 16px;
                      letter-spacing: .22em;
                      line-height: 24px;
                    }
                  }
                  .content {  }
                }
              }
              &:hover {  }
            }
            > ol {  }
          }
        }
        .tags {
        }
      }
    }
  }
}