// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-white : #ffffff;
$color-base-gray : #cacccd;
$color-base-black : #000000;

$color-key: #181D62;
$color-active: #00A1E9;

$color-base-red: #f12701;
$color-base-green : #5ed55b;
$color-base-yellow: #f5ff00;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;

$font-mincho: "Stardos Stencil",Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;