// Variables
//
// 各値を定義
//
// Styleguide variables

$color-base-white : #ffffff;
$color-base-gray : #cacccd;
$color-base-black : #000000;
$color-base-green : #5ed55b;

$color-base-yellow: #f5ff00;
$color-base-red: #f12701;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1280px;
$breakpoint-md: 1024px;
$breakpoint-sm: 769px;
$breakpoint-xs: 480px;